@font-face {
  font-family: 'Gilroy';
  src: url('../resourses/fonts/Gilroy-Regular.eot');
  src: local('../resourses/fonts/Gilroy Regular'), local('Gilroy-Regular'),
      url('../resourses/fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
      url('../resourses/fonts/Gilroy-Regular.woff2') format('woff2'),
      url('../resourses/fonts/Gilroy-Regular.woff') format('woff'),
      url('../resourses/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../resourses/fonts/Gilroy-Bold.eot');
  src: local('../resourses/fonts/Gilroy Bold'), local('Gilroy-Bold'),
      url('../resourses/fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
      url('../resourses/fonts/Gilroy-Bold.woff2') format('woff2'),
      url('../resourses/fonts/Gilroy-Bold.woff') format('woff'),
      url('../resourses/fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../resourses/fonts/Gilroy-Medium.eot');
  src: local('../resourses/fonts/Gilroy Medium'), local('Gilroy-Medium'),
      url('../resourses/fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
      url('../resourses/fonts/Gilroy-Medium.woff2') format('woff2'),
      url('../resourses/fonts/Gilroy-Medium.woff') format('woff'),
      url('../resourses/fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../resourses/fonts/Gilroy-Semibold.eot');
  src: local('../resourses/fonts/Gilroy Semibold'), local('Gilroy-Semibold'),
      url('../resourses/fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
      url('../resourses/fonts/Gilroy-Semibold.woff2') format('woff2'),
      url('../resourses/fonts/Gilroy-Semibold.woff') format('woff'),
      url('../resourses/fonts/Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../resourses/fonts/Gilroy-MediumItalic.eot');
  src: local('../resourses/fonts/Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
      url('../resourses/fonts/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('../resourses/fonts/Gilroy-MediumItalic.woff2') format('woff2'),
      url('../resourses/fonts/Gilroy-MediumItalic.woff') format('woff'),
      url('../resourses/fonts/Gilroy-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Factor A';
  src: url('../resourses/fonts/FactorAMedium-Regular.eot');
  src: local('../resourses/fonts/Factor A Medium Regular'), local('FactorAMedium-Regular'),
      url('../resourses/fonts/FactorAMedium-Regular.eot?#iefix') format('embedded-opentype'),
      url('../resourses/fonts/FactorAMedium-Regular.woff2') format('woff2'),
      url('../resourses/fonts/FactorAMedium-Regular.woff') format('woff'),
      url('../resourses/fonts/FactorAMedium-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Factor A';
  src: url('../resourses/fonts/FactorA-Regular.eot');
  src: local('../resourses/fonts/Factor A Regular'), local('FactorA-Regular'),
      url('../resourses/fonts/FactorA-Regular.eot?#iefix') format('embedded-opentype'),
      url('../resourses/fonts/FactorA-Regular.woff2') format('woff2'),
      url('../resourses/fonts/FactorA-Regular.woff') format('woff'),
      url('../resourses/fonts/FactorA-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Factor A';
  src: url('../resourses/fonts/FactorA-Bold.eot');
  src: local('../resourses/fonts/Factor A Bold'), local('FactorA-Bold'),
      url('../resourses/fonts/FactorA-Bold.eot?#iefix') format('embedded-opentype'),
      url('../resourses/fonts/FactorA-Bold.woff2') format('woff2'),
      url('../resourses/fonts/FactorA-Bold.woff') format('woff'),
      url('../resourses/fonts/FactorA-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}